[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
cssselect = "*"
pandas = "*"
openpyxl = "*"
requests-cache = "*"

[dev-packages]
pdbpp = "*"

[requires]
python_version = "3.7"
